.account_main_div{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-family: sans-serif;
    background-color: rgb(27, 25, 25);
    height: 100%;
    padding-left: 100px;
    text-align: left;
    flex: 0.82;
}
.hrline_account{
    height: 0.5px;
    background-color: rgb(71, 69, 69);
    width: 90%;
    margin-bottom: 28px;
    margin-top: 30px;
}
.your_channel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.channel_info_settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
}
.account_div_three_three, .account_div_three_four{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.account_div_three_four{
    margin-top: 50px;
}
.settings_icon_account{
    text-align: center;
    height: max-content;
    padding: 20px 30px 20px 30px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    cursor: pointer;
}
.settings_icon_account:hover{
    background-color: gray;
    transition: all;
    transition-duration: 0.5s;
}