.help_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 10px;
    position: fixed;
    color: white;
    width: 24%;
    height: 88%;
    font-family: sans-serif;
    cursor: pointer;
}
.help_heading{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(125, 126, 129);
}
.help_header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 15px;
    padding-top: 23px;
    font-size: 20px;
}
.help_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 8px 10px 8px ;
}
.lens_help{
    background-color: #fff;
    padding: 10px 5px 4px 15px;

}
.input_help{
    width: 100%;
    padding-left: 15px;
    height: 41px;
    border: none;
    outline: none;
    outline-offset: none;
    font-size: 17px;
}
.help_reference{
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
#help_count_five{
    border-bottom: 0.5px ridge rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    padding:15px;
}
.help_count{
    display: flex;
    flex-direction: row;
    padding:9px 15px 0 15px;
    height: 30%;
}
.help_ref_heading{
    color: gray;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
}
.help_content{
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 0.5px ridge rgb(187, 185, 185);
}
.all_articles, .help_forum{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 103, 199);
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 10px;
    border-bottom: 0.5px ridge rgb(187, 185, 185);
    font-weight: 500;
    font-size: 15px;
    font-weight: 545;
}
.hrline_help{
    width: 100%;
    height: 1%;
    background-color: rgba(231, 231, 231, 0.87);
}
.help_last_part{
    background-color: #fff;
    color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.help_send_feedback{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 15px 10px 25px;
}
.contact_us{
    font-weight: 600;
    color: gray;
    font-size: 14px;
    padding-bottom: 18px;
    padding-top: 5px;
    padding-left: 25px;
}
.help_send_feedback:hover{
    background-color: rgb(228, 228, 228);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 89.3%;
}
.help_count:hover{
    background-color: rgb(228,228,228);
}
#help_count_five:hover{
    background-color: rgb(228, 228, 228);
}
.help_forum:hover, .all_articles:hover{
    background-color: rgb(228, 228, 228);
}