.settings_notification{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    align-items: flex-start;
}
.hrline_notif{
    height: 0.5px;
    background-color: rgb(65, 63, 63);
    margin-top: 25px;
    margin-bottom: 28px;
    width: 90%;
}
.options{
    margin-left: 25%;
}
.your_pref_notif{
    margin-right: 10%;
}
.perm_notif{
    margin-right: 12.8%;
}
.notif_language{
    margin-left: 14.5%;
}
.lang_name{
    padding: 15px;
    background-color: rgb(46, 45, 45);
    margin-bottom: 10px;
}
.settings_icon_notification{
    text-align: center;
    height: max-content;
    padding: 20px 30px 20px 30px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    cursor: pointer;
}
.settings_icon_notification:hover{
    background-color: gray;
    transition: all;
    transition-duration: 0.5s;
}