.playback_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding-top: 50px;
    padding-left: 8%;
    font-family: sans-serif;
}
.hrline_playback{
    width: 90%;
    height: 0.4px;
    background-color: rgb(63, 62, 62);
    margin-top: 40px;
    margin-bottom: 30px;
}
.checkbox_infocards, .checkbox_subtitles_1, .checkbox_subtitles_2{
    width: 20px;
    height: 20px;
}
.radio_auto{
    width: 20px;
    height: 20px;
    margin-right: 3%;
}