.settings_sidebar_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(17, 16, 16);
    flex: 0.18;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    height: 100%;

}
#settings_sidebar_heading{
    color: rgb(175, 172, 172);
    font-weight: 500;
    font-size: 15px;
}
.settings_sidebar_elements{
    padding: 22px 15px 18px 25px;
    font-size: 15px;
    flex-wrap: wrap;
}
.settings_sidebar_elements:hover{
    background-color: gray;
}
.settings_sidebar_elements_setting{
    padding: 22px 15px 18px 25px;
    font-size: 15px;
    flex-wrap: wrap;

}