@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(39, 38, 38);
    font-size: 15px;
    font-weight: bolder;
    flex:0.16;
    padding-top: 15px;
    height: fit-content;
}
.elements{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    color: white;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    padding:6px 10px 6px 24px;
}
.elements:hover{
    background-color: rgb(85, 83, 83);
}
.elements:hover>.icon{
    color: white;
}
.elements:hover>.label{
    font-weight: 600;
}
.icon{
    color: rgb(128, 128, 128);
    margin-right: 22px;
}
.label{
    padding-bottom: 4px;
}
.sidebar:hover{
    overflow-y:scroll ;
}
.sidebar::-webkit-scrollbar{
    width:5px;
}
.sidebar::-webkit-scrollbar-thumb{
    color: rgb(97, 97, 97);
}
.sidebar::-webkit-scrollbar-track{
    background: none;
}
.sidebar:hover{
    overflow-y: scroll;
}
.subscribed{
    color:rgb(128, 128, 128);
    text-align: left;
    margin-top: -10px;
    margin-left: 24px;
    font-size: 15px;
    cursor: text;
}
.more{
    color: rgb(128,128,128);
    margin:10px;
    margin-left: 24px;
    margin-top: -10px;
}
.hrline{
    height: 0.1px;
    background-color: rgb(71, 71, 71);
    margin-top:15px ;
    margin-bottom: 25px;
}
.home{
    background-color: rgb(59, 59, 59);
}
#iconHome{
    color: white;
}