.videos{
    display: flex;
    justify-content: flex-start;
    flex:0.865;
    cursor: pointer;
    color: white;
    background-color: rgb(31, 28, 28);
    padding: 10px;
    flex-wrap: wrap;
}
.videoCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0px 55px 15px;
    height: 251px;
    align-items: flex-start;
}
.video__thumbnail{
    width: 298px;
    height: 190px;
    border: none;
    outline: none;
}
.video__info{
    margin-top: 10px;
    display: flex;
}
.video__title{
    font-size: 15px;
    font-weight: 600;
}
.channel__name, .video__details{
    color:rgb(141, 137, 137);
    font-size: 14px;
    font-weight: 500;
}
.channel__name:hover{
    color:white;
}
.video__details{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dot{
    font-weight: bold;
    font-size: 30px;
}