 *{
  margin: 0;
}
body{
  background-color: rgb(27, 25, 25);
}
.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 25, 25);
}
.AppHeader{
  position: sticky;
  top: 0;
  opacity: 0.99;
  z-index: 100;
}
.AppBody{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.AppBody_feedback{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  opacity: 0.5;
  position: relative;
}
.AppVideos, .AppSearchPage{
  background-color: rgb(31, 28, 28);
}
.feedback_box{
  margin-top: 120px;
  position: absolute;
}
.AppBody_help{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.help_box{
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
}
.AppBody_report{
  display: flex;
  flex-direction: row;
}
.AppSidebar_report{
  width: 20%;
}